
$verdeOscuro: #042e07;
$doradoViejo: #b7a662;
$blancoHumo: #f3f3f3;
$transparente: rgba($color: #000000, $alpha: .4);
$grisClaro: #d9d9d9;
$gris: #f1f5f9;

// Font size
$cardH1: 1.5 rem;
$cardH2: 1.25 rem;
$sizeNormal: 1 rem;
$sizeSmall: .875 rem;
 
// Otros
$border-radius: 1rem;
$transition: all 0.3s ease;
