
@mixin position($position, $width, $height) {
    position: $position;
    width: $width;
    height: $height;
  }

@mixin flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin display($display, $justify-content, $align-items) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin direction {
    display: flex;
    flex-direction: column;
  }
  
  