@import "../variables/Colores";
@import "../variables/mixin";

.registro-body{
    background-color: $verdeOscuro;
    display: flex;
    justify-content: center;
    align-items: center;

        h1{
            color: $grisClaro;
            padding-top: 15%;
            margin-left: -20%;
            font-weight: 500;
        }

        form{
            display: flex;
            flex-direction: column;
            margin-top: 5%;
            gap: .3rem;

            input{
                background: transparent;
                border: none;
                border-bottom: 2px solid $doradoViejo;
                padding: 0.75rem 0.5rem;
                color: $blancoHumo;
                font-size: 1rem;
                outline: none;
                transition: border-color 0.3s;

                &::placeholder{
                    color: $grisClaro;
                }

                &:focus{
                    border-bottom: 2px solid $grisClaro;
                }
            }

            .checkbox-container{
                padding-top: 10%;
            }

            button{
                margin-top: 1rem;
                padding: 0.75rem;
                background-color: $doradoViejo;
                border: none;
                font-size: 1rem;
                font-weight: bold;
                cursor: pointer;
                transition: background 0.3s;

                &:hover{
                    background-color: darken($doradoViejo, 10%)
                }
            }
        }
    

    .login-link{
        margin-top: 1.5rem;
        font-size: 0.9rem;
        color: $grisClaro;

        a{
            color: $doradoViejo;
            text-decoration: none;
            margin-left: 5px;

            &:hover{
                text-decoration: underline;
            }
        }
    }

    .mensaje-error,
    .mensaje-exito{
        margin-top: 1rem;
        font-size: 0.9rem;
    }

    .mensaje-error{
        color: red;
    }

    .mensaje-exito{
        color: lightgreen;
    }
}